/* reset */

:root {
    font-family: 'Montserrat', sans-serif;
	/*
	font-weight: 500;	
	*/
}

body, h1, h2, h3, p, ul, li, hr{
	margin: 0;
	font-weight: initial;
}

ul,li{
	list-style: none;
	padding: 0;
}

h1 {
	font-size: 40px;
	font-weight: 500;
}

h2 {
	font-size: 30px;
	font-weight: 500;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 32px;
}

p{
	font-size: 14px;
}

li{
	font-size: 14px;
}

button{
    border: 0;
    background: none;
    font-size:14px;
    margin:0;
    padding:0;
}

img{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

/* layout */

.main {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.header{
	margin-bottom: 100px;
}

.wrapper{
	width: 1080px;
	margin: 0 auto
}

.wrapper > header, .wrapper > section {
	display: flex;
}

.header > .header-title{
	align-self: center;
}

.section:nth-of-type(2n){
	flex-direction: row-reverse;
}

.section:last-child{
	margin-bottom: 0px;
}

.section .section-title{
    display: flex;
	justify-content: center;
	align-items: center;

	position : relative;
}

.pink .header {
    justify-content: space-between;
}

.card-wrap{
    display: flex;
    gap: 24px;    
}

.pink .card-wrap .card{
    max-width: calc((1080px - 48px) / 3);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.pink .card-content{
    padding: 24px;
    padding-bottom: 0;
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* style */

.purple {
	background-color: #673399;
}

.pink {
    background-color: seashell;
}

/* header */

.purple .section-title,.purple .header-title {
	color: white;
	width: 26%;
	flex-shrink: 0;
}

.purple .header-title > .text-wrap {
	display: block;
	width: fit-content;
}

.purple .title-underline{
    /* box shadow로 구현이 되네,,? */
	display: block;
	width: 100%;
	height: 20px;
	background-color: orangered;
	margin-top: -20px;
}

.purple .header .line{
	width: 100px;
	border-top : 1px solid #bd8fe8;
	align-self: center;
	flex-shrink: 0;
}

.header-text{
	height: fit-content;
	padding: 24px;
	align-self: center;
	line-height: calc(14px * 1.6);
    color: #bd8fe8;
}

/* section */
.purple .section {
	margin-bottom: 24px;
}

.purple .section .section-title{
    color: white;
    z-index: 1;
	flex-shrink: 0;
}

.Rest::before {
	background-image: url(./images/photo01.png);
}

.Craft::before {
	background-image: url(./images/photo02.png);
}

.Scrap::before{
	background-image: url(./images/photo03.png);
}

.purple .section .section-title::before{
	width: 100%;
	height: 100%;
	content: "";
	background-size: cover;
	background-repeat: no-repeat;

	position: absolute;
	top:0;
	left: 0;
	opacity: 0.8;
	z-index: -1;
}

.purple .section .section-content{
	background-color: white;
	padding: 24px;
	flex-grow: 1;
}

.purple .section-content .content-disc{
	padding-left: 24px;
}

.purple .content-title{
    color : #673399;
}

.purple .content-disc li{
	text-indent : -20px;
    margin-bottom: 10px;
}

.purple .content-disc li:last-child{
	margin-bottom: 0;
}

.purple .content-disc li::before {
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;

	background: #bd8fe8;
	
	margin-right: 10px;

	border-radius: 5px;
}


/* pink style */

.pink .header .header-title{
    font-size: 40px;
    color: salmon;
    flex-basis: calc((100% - 48px)/3);
}

.pink .title-underline {
    width: fit-content;
    box-shadow: inset 0 -20px 0 0 white;
}

.pink .title-button{
    align-self: center;

    font-size: 14px;
    background-color: orangered;
    color: white;
    
    height: fit-content;
    padding: 10px 20px;

    border-radius: 5px;
    box-shadow: 0 3px 0 0 #AB3A1A;

    cursor: pointer;
}

.pink .card {
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
    position: relative;
}

.pink .soldout::after{
    content: "";
    display: block;
    width: 110px;
    height: 110px;
    position: absolute;
    top: -10px;
    left: -10px;
    background: url(./images/badge.png) no-repeat;
}

.pink .card-img{
    border-bottom: 5px solid black;
}

.pink .card .tag-wrap{
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

.pink .card .tag-wrap .card-tag {
    background-color: #f1e0f8;
    color: #673399;
    font-size: 12px;
    padding: 5px;

    width: fit-content;

    font-family: 'Montserrat';
    font-weight: 700;

    margin: 2px;
}

.pink .card .content-title{
    font-size: 24px;
    color: black;
    margin-bottom: 32px;
    font-weight: bold;
}

.pink .card-content .content-title{
    min-height:60px;

    word-wrap: break-word;
    
    overflow: hidden;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.pink .card-content .content-text{
    font-size: 14px;
    color: #999;
    flex: 2;
    margin-bottom: 24px;
}

.pink .content-foot{
    background-color: white;
    color: #999;
    font-size: 12px;

    height: 68px;

    border-top: 4px solid #eee;
    margin-right: -24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.pink .content-foot .foot-btn{
    cursor: pointer;
}

.pink .soldout .foot-btn
,.pink .soldout .foot-img{
    display: none;
}

.pink .card-wrap > :not([class$='soldout']) .soldout-text{
    display: none;
}

.pink .foot-text, .pink .foot-btn{
    font-size: inherit;
    color: inherit;
}

.pink .img-wrap{
    margin-right: 24px;
    position: relative;
    width: 90px;
    height: 40px
}

.pink .foot-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position:absolute;
    border: 5px solid white;
}

.pink .img-wrap .foot-img:first-child{
    right: 50px;
}

.pink .img-wrap .foot-img:nth-child(2){
    right: 25px;
}

.pink .img-wrap .foot-img:last-child{
    right: 0px;
}